.landing-page {
  height: 100vh;
}

.nav-bar {
  padding: 2em 1em;
}

.bg-img-meeting {
  background-image: url(https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWVldGluZ3xlbnwwfHwwfHx8Mg%3D%3D);
}

.bg-img-towers {
  background-image: url(https://images.unsplash.com/photo-1462899006636-339e08d1844e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.guy-img {
  height: 10vh;
  width: 10vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
